.ccc-modal{

}

.ccc-choosed-city-box{
    width: 100%;
    height: 30px;
    padding-left: 30px;
}

.ccc-choosed-title{
    min-width: 50px;
    padding: 0 10px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
}

.ccc-choosed-box{
    width: 100%;
    padding: 10px 40px;
}

.ccc-choosed-city-item{
    min-width: 50px;
    padding: 0 10px;
    margin: 0 10px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.ccc-choosed-city-item:hover{
    background-color: #f8f8f8;
}