.das-modal-header{
    height: 40px;
    padding: 0;
}

.das-modal-header-t{
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
}

.das-modal-header-c{
    width: 50px;
    height: 40px;
    float: right;
    cursor: pointer;
}

.das-modal-content{
    max-width: 400px !important;
}

.das-modal-con-box{
    width: 300px;
    margin: 0 auto;
    height: 30px;
}

.das-modal-con-i-box{
    width: 50px;
    height: 100%;
    float: left;
}

.das-modal-con-t1{
    width: calc(100% - 50px);
    height: 100%;
    float: left;
    line-height: 30px;

}

.das-modal-con-t2{
    width: 100%;
    padding-left: 50px;
    font-size: 12px;
    color: #9B9B9B;
}

.das-modal-footer{
    border-top: 0;
    height: 60px;
    padding: 15px 10px;
}

.das-modal-btn-cancel{
    width: 70px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #5182E4;
    border-radius: 3px;
    color: #5182E4;
    margin: 0 5px;
}

.das-modal-btn-ok{
    width: 70px;
    height: 30px;
    background-color: #5182E4;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    margin: 0 10px;
}

.ca-modal{}

.ca-modal-content{
    max-width: 480px !important;
}

.cam-b-in-box{
    width: 100%;
    height: 66px;
    padding: 15px 50px 15px 20px;
}

.cam-b-in-t{
    margin: 0;
    width: 80px;
    text-align: right;
    padding-right: 20px;
    float: left;
    line-height: 36px;
}

.cam-b-in{
    width: calc(100% - 80px);
    height: 36px;
    float: left;
}

.cam-b-sm-box{
    width: 100%;
    height: 30px;
    padding: 5px 5px 5px 100px;
}

.cam-b-sm-ch{
    display: inline-block;
    width: 25px;
    height: 100%;
    position: relative;
    top: 3px;
    margin: 0 !important;
    float: left;
    text-align: center;
}

.cam-b-in-item-box{
    height: 36px;
}

.cam-b-in-item-error-msg{
    height: 30px;
    line-height: 20px;
    width: 100%;
    padding: 5px 5px 5px 80px;
    font-size: 12px;
    color: #D0021B;
}

.cam-b-in.name-error{
    border: 1px solid #D0021B;
}

.cam-b-ch-i{
    float: right;
    position: relative;
    top: -25px;
    right: 10px;
}

.cam-b-ch-i-m{
    display: none;
}

.cam-b-ch-i-m.show{
    display: inline-block;
}


.cam-b-ch-res-i{
    float: right;
    position: relative;
    top: -34px;
    right: 10px;
    width: 20px;
    height: 30px;
}

.cam-need-w{
    color: #D0021B;
}

.am-exam{}

.exam-mc{
    max-width: 350px !important;
}

.exam-fp-box{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.exam-f-t{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #666666;
}

.ci-modal{}

.choose-file-box{
    width: 100%;
    height: 50px;
    padding: 10px;
}

.choose-file-btn{
    width: 80px;
    text-align: center;
    height: 30px;
    border: 0;
    background-color: #5182E4;
    color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    line-height: 30px;
    cursor: pointer;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:300px;
    height:200px;
    float: left;
}

.cim-up-t{
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #999999;
}

.cim-up-d-i{
    position: relative;
    right: 5px;
    top: 20px;
    font-size: 16px;
    float: right;
    margin-top: -16px;
    cursor: pointer;
    color: #ff2f3e;
    z-index: 100;
}

.cim-up-box{
    width: 100%;
    height: 220px;
    padding: 10px 20px;
}

.cim-up-res-i-box{
    width: 102px;
    height: 102px;
    float: left;
    text-align: center;
    margin: 0 78px;
    border: 1px solid #cccccc;
    overflow: hidden;
}

.cim-up-res-i{
    width: 100px;
    height: 100px;
}

.cim-up-dis-box{
    width: calc(100% - 300px);
    float: left;
    height: 200px;
}

.cim-up-op-box{
    width: 100%;
    height: calc(100% - 102px);
    float: left;
    padding: 34px 20px;
    text-align: center;
}

.cim-up-op-btn{
    width: 80px;
    height: 30px;
    border: 0;
    background-color: #5182E4;
    color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 10px;
}