/*一些通用的样式*/
.rd_4{
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.wrap-shadow .rd_4{
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, .96);
}
.rd_2{
    background-color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.hover_shadow{
    -webkit-transition: box-shadow 0.5s ease-in 0.2s;
    transition: box-shadow 0.5s ease-in 0.2s;
}
.hover_shadow:hover{
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.rd_4_bs_5{
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.va-middle {
    vertical-align: middle !important;
}
.va-text-top {
    vertical-align: text-top !important;
}
.va-text-bottom {
    vertical-align: text-bottom !important;
}
.va-top {
    vertical-align: top !important;
}
.max-width-none {
    max-width: none !important;
}
.border-radius-2 {
    border-radius: 2px !important;
}
.border-radius-3 {
    border-radius: 3px !important;
}
.border-radius-4 {
    border-radius: 4px !important;
}
.left{float: left !important;}
.right{float: right !important;}
.h100{height: 100% !important;}
.mt0{margin-top: 0px !important;}
.mt4{margin-top: 4px !important;}
.mt5{margin-top: 5px !important;}
.mt8{margin-top: 8px !important;}
.mt10{margin-top: 10px !important;}
.mt14{margin-top: 14px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt100{margin-top: 100px !important;}
.mb0{margin-bottom: 0px !important;}
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
.mb40{margin-bottom: 40px !important;}
.mb50{margin-bottom: 50px !important;}
.ml0{margin-left: 0px !important;}
.ml4{margin-left: 4px !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml25{margin-left: 25px !important;}
.ml30{margin-left: 30px !important;}
.mr0{margin-right: 0px !important;}
.mr5{margin-right: 5px !important;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.mr25{margin-right: 25px !important;}
.mr30{margin-right: 30px !important;}
.mr50{margin-right: 50px !important;}
.mlr10{margin:0 10px !important;}
.mat{margin: 0 auto;}

.pt4{padding-top: 4px !important;}
.p0{padding: 0px !important;}
.p10{padding: 10px !important;}
.p15{padding: 15px !important;}
.p20{padding: 20px !important;}
.p25{padding: 25px !important;}
.p30{padding: 30px !important;}
.pt0{padding-top: 0px !important;}
.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}
.pt25{padding-top: 25px !important;}
.pt30{padding-top: 30px !important;}
.pt50{padding-top: 50px !important;}
.pl0{padding-left: 0 !important;}
.pl10{padding-left: 10px !important;}
.pl15{padding-left: 15px !important;}
.pl20{padding-left: 20px !important;}
.pl25{padding-left: 25px !important;}
.pl30{padding-left: 30px !important;}
.pl40{padding-left: 40px !important;}
.pb0{padding-bottom: 0px !important;}
.pb5{padding-bottom: 5px !important;}
.pb10{padding-bottom: 10px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}
.pb50{padding-bottom: 50px !important;}
.pr0{padding-right: 0 !important;}
.pb35{padding-bottom: 35px !important;}
.pb40{padding-bottom: 40px !important;}
.pb50{padding-bottom: 50px !important;}
.pb35{padding-bottom: 35px !important;}
.pb40{padding-bottom: 40px !important;}
.pb50{padding-bottom: 50px !important;}
.pb60{padding-bottom: 60px !important;}
.pr20{padding-right: 20px !important;}
.pr15{padding-right: 15px !important;}
.pr10{padding-right: 10px !important;}
.pr30{padding-right: 30px !important;}
.ptb15{padding: 15px 0 !important;}
.ptb20{padding: 20px 0 !important;}
.ptb20{padding: 20px 0 !important;}
.ptb30{padding: 30px 0 !important;}
.plr10{padding:0 10px !important;}
.plr15{padding:0 15px !important;}
.plr20{padding:0 20px !important;}
.plr30{padding:0 30px !important;}

.lh-33{line-height: 33px !important;}
.brdnone{
    border: none;
}
.ofl-hidden{
    overflow: hidden;
}
.c-fff{color: #fff!important;}
.c-333{color: #333!important;}
.c-666{color: #666!important;}
.c-999{color: #999!important;}
.c-ccc{color: #ccc!important;}
.c-red{color: #ff746c!important;}
.c-b3{color: #b3b3b3!important;}
.c-crm{color: #ff6450!important;}
.c-project{color: #1ab394!important;}
.c_bgc_white{background-color: #ffffff!important;}
.c_bgc_blue{background-color: #289bf0!important;}
.c_bgc_green{background-color: #1ab394!important;}
.c_bgc_green_hover{background-color: #1ab394;}
.c_bgc_green_hover:hover {
    background-color: #1cc09e;
}
/*.c_highlight{color: #289bf0;}*/
.c_at_highlight{
    color: #2888e5;
}
.c_link{
    color: #2888e5;
}
/*.c_readall{color: #55aff5;}*/
.c_dot_bgc{background-color: #ff6432!important;}

.img_24{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.img_30{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.img_32{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.img_36{
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.wbg-page{
    width: 100%;
    height: 100%;
    min-width: 1000px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

body{
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
    /*transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
}
/*@font-face {font-family: 'iconfont';*/
    /*src: url('../web-static/source/fonts/iconfont.eot?v=20160704'); !* IE9*!*/
    /*src: url('../web-static/source/fonts/iconfont.eot?v=20160704#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../web-static/source/fonts/iconfont.woff?v=20160704') format('woff'), !* chrome、firefox *!*/
    /*url('../web-static/source/fonts/iconfont.ttf?v=20160704') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
    /*url('../web-static/source/fonts/iconfont.svg?v=20160704#iconfont') format('svg'); !* iOS 4.1- *!*/
/*}*/
/*.iconfont{*/
    /*font-family:"iconfont" !important;*/
    /*speak: none;*/
    /*font-size:16px;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*font-variant: normal;*/
    /*text-transform: none;*/
    /*line-height: 1;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-ms-text-stroke-width: 0.2px;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*color: #f3f3f4;*/
/*}*/
/*主体内容*/
.wbg-cw{
    margin-top: 60px;
    overflow: auto;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 60px);
    padding:0 0 0 0!important;
}
.wbg-cw > .wbg-cw{
     padding:0!important;
}
.wbg-content{
    margin-top: 20px;
    padding-right:40px !important;
    overflow: hidden;
    position: relative;
    min-height: calc(100% - 20px);
}
.wbg-content > .wbg-content{
    padding:0!important;
}


/*右侧主体内容*/
.right-content{
    margin-left: 200px;
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
    /*overflow: hidden;*/
    min-height: 100%;
}
.powerby{
    text-align: center;
    height: 20px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: -200px;
}
.powerby span{
    font-size: 12px;
    font-family: "Helvetica Neue","Arial","PingFang SC","Hiragino Sans GB","\5B8B\4F53","Microsoft Yahei",sans-serif;
    color: rgba(255,255,255,.5);
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 20px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}
/*工作台左侧内容通用*/
.work-wrap{
    width: auto;
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: 50px;
    -webkit-animation: 0.4s opcy ease-in-out forwards;
    -moz-animation: 0.4s opcy ease-in-out forwards;
    -ms-animation: 0.4s opcy ease-in-out forwards;
    -o-animation: 0.4s opcy ease-in-out forwards;
    animation: 0.4s opcy ease-in-out forwards;
}


/*errTips*/
.errTips{
    width: 300px;
    height: 50px;
    position: fixed;
    left: 50%;
    top:70px;
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    background-color: rgba(255,255,255,.9);
    z-index: 99;
    text-align: center;
    line-height: 50px;
}
.errTips i{
    vertical-align: middle;
    margin-right: 10px;
}
.errTips span{
    display: inline-block;
    vertical-align: middle;
}

/*page-loading*/
.page-loading{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
.spinner {
    width: 100px;
    height: 15px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}
 
.spinner > div {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: #289bf0;
}
 
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
 
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
 
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*日程左上角提示*/
.schedule-remind{
    width: 340px;
    height: 65px;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(245,245,245,.95);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.3);
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
}
.schedule-remind-left{
    float: left;
    width: 65px;
    height: 65px;
}
.schedule-remind-left i{
    display: block;
    margin: 24px auto 0;
    font-size: 20px;
}
.schedule-remind-right{
    margin-left: 80px;
}
.schedule-remind-right h5{
    height: 20px;
    line-height: 20px;
}
.schedule-time-and-hide{
    padding-right: 20px;
    line-height: 20px;
    height: 20px
}
.schedule-time-and-hide p{
    float: left;
    max-width: 190px;
    overflow: hidden;
    height: 20px;
}
.schedule-time-and-hide span{
    float: right;
}
/*导出动画提示*/
.export-tips{
    width: 60px;
    height: 60px;
    background-color: #5ed77b;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 100px;
    z-index: 2;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.2);
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    display: none;
}
.export-tips .icon-export-part1{
    position: absolute;
    top: 18px;
    left: 18px;
}
.export-tips .icon-export-part2{
    position: absolute;
    top: 28px;
    left: 30px;
    -webkit-animation: export 1s infinite ease-in-out;
    animation: export 1s infinite ease-in-out;
}
@-webkit-keyframes export {
    0%{
        -webkit-transform: translate(0,0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(8px,0);
        opacity: 0;
    }
}
 
@keyframes export {
    0%{
        -webkit-transform: translate(0,0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(8px,0);
        opacity: 0;
    }
}


/*icon的hover提示*/
.tip-content{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    font-style: normal;
    line-height: 16px;
    padding: 3px 5px;
    position: fixed;
    z-index: 9999;
}
/*alert*/
.alert .alert-content{
    width: auto;
    line-height: 20px;
    word-break: break-all;
}
.alert-icon{
    vertical-align: middle;
    margin-right: 5px;
}
.alert-no-icon{
    padding-left: 0;
}
/*换肤icon伪类设置*/
/*发起+号*/
.icon-side-add:before,
.icon-background-add:before,
.icon-skin-color-add:before
{
    content: '\e90c';
}
/*外勤*/
.icon-app-outside:before{
    content: '\e918';
}
/*公告*/
.icon-app-announcement:before{
    content: '\e907';
}
/*汇报*/
.icon-app-report:before{
    content: '\e909';
}
/*审批*/
.icon-app-approve:before{
    content: '\e910';
}
/*日程*/
.icon-app-schedule:before{
    content: '\e90f';
}
/*投票*/
.icon-app-vote:before{
    content: '\e911';
}
/*文档*/
.icon-app-file:before{
    content: '\e90a';
}
/*归档*/
.icon-app-archiving:before{
    content: '\e908';
}
/*网盘*/
.icon-app-netdisc:before{
    content: '\e91b';
}
/*任务*/
.icon-app-task:before{
    content: '\e90b';
}
/*使用统计*/
.icon-app-statistics:before{
    content: '\e92a';
}
/*考勤管理*/
.icon-app-attendance:before{
    content: '\e901';
}
/*邮箱*/
.icon-app-mail:before{
    content: '\e935';
}
/*header搜索按钮*/
.icon-search-btn:before{
    content: '\e90e';
}
/*header草稿箱*/
.icon-drafts:before{
    content: '\e8fa';
}
/*header收藏夹*/
.icon-collect:before{
    content: '\e90d';
}
/*汇报管理提醒*/
.icon-report-remind:before{
    content: '\e902';
}
/*汇报管理按钮*/
.icon-report-manage:before{
    content: '\e906';
}
/*工作台增加日程*/
.icon-add:before{
    content: '\e90c';
}
/*日程列表创建日程*/
.icon-schedule-add:before{
    content: '\e927';
}
/*日程提醒*/
.icon-remind:before{
    content: '\e919';
}
.icon-add-small:before{
    content: '\e91a';
}
/*圆形的选择*/
.icon-selected-circle:before {
    content: '\e922';
}
.icon-add-circle:before {
    content: '\e921';
}
/*网盘 icon*/
/*网盘上传*/
.icon-file-upload:before {
    content: '\e905';
}
/*网盘新建*/
.icon-file-new:before {
    content: '\e914';
}
/*网盘下载*/
.icon-file-download:before {
    content: '\e900';
}
/*网盘移动到*/
.icon-file-move:before {
    content: '\e915';
}
/*网盘复制到*/
.icon-file-copy:before {
    content: '\e91d';
}
/*网盘重命名*/
.icon-file-rename:before {
    content: '\e916';
}
/*网盘删除*/
.icon-delete-font:before {
    content: '\e912';
}
/*网盘设置*/
.icon-config-font:before {
    content: '\e913';
}
.icon-arrow-up-small:before {
    content: '\e926';
}
.icon-arrow-down-small:before {
    content: '\e925';
}
.icon-slide-down-circle:before {
    content: '\e91f';
}
.icon-check-rect:before {
    content: '\e920';
}
.wbg-check-box-btn:before {
    content: '\e929';
}
.wbg-check-box-btn.checked:before {
    content: '\e903';
}
.wbg-check-box-btn-16.checked:before {
    content: '\e90b';
}
.wbg-radio-btn:before {
    content: '\e928';
}
.wbg-radio-btn.checked:before {
    content: '\e904';
}
.wbg-radio-btn.actived:before {
    content: '\e904';
}
/*向下箭头*/
.icon-skin-arrow:before{
    content: '\e939'
}
.icon-skin-arrow.open:before{
    content: '\e938'
}
/*个人设置*/
.icon-setting-pwd:before{
    content: '\E93A';
}
.icon-setting-info:before{
    content: '\E93B';
}
.icon-setting-id:before{
    content: '\E93C';
}
.icon-setting-avatar:before{
    content: '\E93D';
}
.icon-attendance-menu:before{
    content: '\E93E';
}
.icon-vacation-menu:before{
    content: '\E93F';
}
.icon-status-success:before{
    content: '\E940';
}
.icon-work-state:before{
    content: '\E941';
}

/*通知中心收到的赞*/
.wb-like-icon:before {
    content: '\e92c';
}
.current .wb-like-icon:before,
.isLike.wb-like-icon:before{
    content: '\e92b';
}
.crm-cii-word{
    min-height: 30px;
}
.anmi-css-list-in{
    overflow: hidden;
    animation:opcy-02 1s ease-in-out;
    /*animation:he 2s ease-in-out;*/
}
.tran-bgc-3{
    transition: background-color 0.3s linear;
}
.common-color{
    color:#289bf0;
}

.pos-rel {
    position: relative;
}
.col-sep {
    position: relative;
}
.col-sep:after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 1px;
    height: 15px;
    background: #e6e6e6; 
}
.input-normal {
    width: 240px;
    height: 38px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 8px 15px;
    line-height: 16px;
    background-color: #fff;
    transition: border-color ease-in-out .2s,box-shadow ease-in-out .2s;
}
.w100 {
    width: 100%;
}
.br50 {
    border-radius: 50%;
}
.error-tip {
    color: #ff662b;
    font-size: 12px;
}
.h-align-center {
    text-align: center;
}
.h-align-left {
    text-align: left;
}
.icon-error-tip {
    vertical-align: middle;
}
.cur-pointer {
    cursor: pointer;
}

.select-content-wrapper .select li {
    font-size: 12px;
}
.tooltip {
    z-index: 9999;
}
.loading-content {
    min-height: 370px;
    padding: 100px 0;
    text-align: center;
}
.fl{
    float: left;
}

/****** selectize 样式调整 *******/
.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: pointer;
    box-shadow: none;
    border-radius: 3px;
}

.selectize-input {
    padding: 5px;
    min-height: 30px;
}

.selectize-input.full {
    width: 100%;
    padding-right: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 30px;
}

.selectize-input > .item {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
/********************************/

/*分页样式修改*/
.pagination-sm > li > a, .pagination-sm > li > span {
    margin: 0 8px;
    border-radius: 3px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #5182E4;
    border-color: #5182E4;
}

.pagination > li > a, .pagination > li > span {
    color: #666666;
}

/*toster 样式*/
/*提示框插件*/

.animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.time-300 {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes showAlert {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes showAlert {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.show-alert {
    -webkit-animation-name: showAlert;
    animation-name: showAlert;
}

@keyframes closeAlert {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes closeAlert {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.close-alert {
    -webkit-animation-name: closeAlert;
    animation-name: closeAlert;
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}

@-webkit-keyframes centerIn {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes centerIn {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.centerIn {
    -webkit-animation-name: centerIn;
    animation-name: centerIn;
}

.xform-backdrop {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.xform-confirm-backdrop{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .2);
}

.xform-backdrop.static {
    pointer-events: all;
}

.xform-confirm-backdrop.static{
    pointer-events: all;
}

.xform-confirm-modal {
    background: #fff;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -150px;
}

.xform-confirm-header {
    width: 100%;
    height: 30px;
    text-align: left;
    padding-left: 15px;
    line-height: 30px;
    background-color: #38a7df;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
}

.xform-confirm-body {
    width: 100%;
    min-height: 50px;
    line-height: 20px;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #ccc;
}

.xform-confirm-footer {
    width: 100%;
    height: 40px;
    padding: 5px;
    text-align: center;
}

.xform-confirm-footer span {
    width: 50px;
    display: inline-block;
    text-align: center;
    height: 25px;
    line-height: 25px;
    margin: 0 10px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    background-color: #38a7df;
    color: #fff;
}

.xform-confirm-footer span:last-child{
    background-color: #cccccc;
}

.xform-confirm-footer span:last-child:hover{
    background-color: #bbbbbb;
}

.xform-confirm-footer span:first-child:hover {
    background-color: #69c6f5;
    box-shadow: -1px 0 1px 1px #48baf3 inset;
}

.xform-toast {
    width: 100%;
    height: 100%;
}

.xform-body {
    position: fixed;
    min-height: 50px;
    padding: 5px 0;
    max-width: 450px;
    line-height: 40px;
    border-radius: 5px;
    background-color: rgba(117,121,127,.8);
    font-size: 14px;
    z-index: 9999;
}

.xForm-alert-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9990;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.xForm-alert-body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    width: 300px;
    height: 150px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .15);
}

.xForm-alert-header {
    width: 300px;
    height: 40px;
    background-color: #38a7df;
}

.xForm-alert-header span {
    display: inline-block;
    width: calc(100% - 30px);
    height: 100%;
    line-height: 40px;
    padding-left: 15px;
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    float: left;
}

.xForm-alert-header i {
    display: inline-block;
    width: 30px;
    line-height: 40px;
    float: left;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}

.xForm-alert-main {
    width: 300px;
    height: 70px;
    padding: 10px 0;
}

.xForm-alert-main span {
    margin: 5px 0;
    width: 100%;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

.xForm-alert-footer {
    width: 300px;
    height: 40px;
    text-align: center;
    padding: 7.5px;
}

.xForm-alert-footer button {
    width: 50px;
    height: 25px;
    display: inline-block;
    background-color: #38a7df;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    box-shadow: -1px 0 1px 1px #1d9dda inset;
}

.xForm-alert-footer button:hover {
    background-color: #69c6f5;
    box-shadow: -1px 0 1px 1px #48baf3 inset;
}

.xform-body i {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center center;
}

.xform-toast .text-area {
    margin: 0 20px 0 50px;
    height: 100%;
    display: inline-block;
    float: right;
    color: #fff;
}

.toast-right-top {
    text-align: right;
    padding: 40px 40px 0 0;
}

.pagination{
    margin: 0;
}
