.ico-konka-o{
    background-size: 107px 19px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-header-user-o{
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.ico-dm-o{
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.ico-am-o{
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.ico-appm-o{
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.ico-rm-o{
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.ico-sm-o{
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.ico-am-add-a-o{
    background-position: center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.ico-am-export-a-o{
    background-position: center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.ico-data-picker-icon-o{
    background-position: center;
    background-size: 18px 16px;
    background-repeat: no-repeat;
}

.ico-search-icon-o{
    background-position: center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.ico-modal-close-o{
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.ico-modal-warn-o{
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.ico-cam-true-o{
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-cam-error-o{
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-cam-pwd-v-o{
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-cam-pwd-uv-o{
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-exam-file-p-o{
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-adm-edit-o{
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-adm-close-a-o{
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico-adm-del-a-o{
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
}