.fi{
    display: inline-block;
}

.ico-konka{
    background-image: url(../../images/icon/konka_icon.png);
}

.ico-header-user{
    background-image: url(../../images/icon/header_user.png);
}

.ico-dm{
    background-image: url(../../images/icon/dm.png);
}

.ico-am{
    background-image: url(../../images/icon/am.png);
}

.ico-appm{
    background-image: url(../../images/icon/appm.png);
}

.ico-rm{
    background-image: url(../../images/icon/rm.png);
}

.ico-sm{
    background-image: url(../../images/icon/sm.png);
}

.left-nav-i-c .ico-dm{
    background-image: url(../../images/icon/dm_c.png);
}

.left-nav-i-c .ico-am{
    background-image: url(../../images/icon/am_c.png);
}

.left-nav-i-c .ico-appm{
    background-image: url(../../images/icon/appm_c.png);
}

.left-nav-i-c .ico-rm{
    background-image: url(../../images/icon/rm_c.png);
}

.left-nav-i-c .ico-sm{
    background-image: url(../../images/icon/sm_c.png);
}

.ico-am-add-a{
    background-image: url(../../images/icon/add_account.png);
}

.am-add-a:hover .ico-am-add-a{
    background-image: url(../../images/icon/add_account_h.png);
}

.ico-am-export-a{
    background-image: url(../../images/icon/export_account.png);
}

.am-export-a:hover .ico-am-export-a{
    background-image: url(../../images/icon/export_account_h.png);
}

.ico-data-picker-icon{
    background-image: url(../../images/icon/datepick_icon.png);
}

.ico-search-icon{
    background-image: url(../../images/icon/search_icon.png);
}

.ico-user{
    background-image: url(../../images/user/demo_icon.png);
}

.alert-error-i{
    background-image: url(../../images/icon/alert_error.png);
}

.alert-success-i{
    background-image: url(../../images/icon/alert_success.png);
}

.alert-info-i{
    background-image: url(../../images/icon/alert_info.png);
}

.alert-warning-i{
    background-image: url(../../images/icon/alert_warning.png);
}

.ico-modal-close{
    background-image: url(../../images/icon/modal_close.png);
}

.ico-modal-warn{
    background-image: url(../../images/icon/modal_warn.png);
}

.ico-cam-true{
    background-image: url(../../images/icon/cam_true.png);
}

.ico-cam-error{
    background-image: url(../../images/icon/cam_error.png);
}

.ico-cam-pwd-v{
    background-image: url(../../images/icon/cam_pwd_v.png);
}

.ico-cam-pwd-uv{
    background-image: url(../../images/icon/cam_pwd-uv.png);
}

.ico-exam-file-p{
    background-image: url(../../images/icon/exam-logo.png);
}

.ico-adm-edit{
    background-image: url(../../images/icon/adm_edit_i.png);
}

.ico-adm-close-a{
    background-image: url(../../images/icon/close_account.png);
}

.ico-adm-del-a{
    background-image: url(../../images/icon/delete_account.png);
}