.header{
    width: 100%;
    height: 59px;
    border-bottom: 1px solid #0C51DB;
    background-color: #ffffff;
}

.main-view{
    height: calc(100% - 60px);
    width: 100%;
    overflow: hidden;
}

.header-title{
    width: 300px;
    height: 100%;
    float: left;
    line-height: 59px;
    margin-left: 30px;
    font-size: 18px;
}

.header-user-t-s{
    display: inline-block;
    width: 10px;
    height: 100%;
    float: left;
    line-height: 60px;
    text-align: center;
}

.header-konka-icon{
    width: 110px;
    height: 100%;
    float: left;
    margin-right: 10px;
}

.header-user-box{
    width: 250px;
    height: 100%;
    float: right;
}

.header-user-i{
    width: 40px;
    height: 60px;
    float: left;
}

.header-user-r{
    width: 50px;
    height: 100%;
    float: left;
    line-height: 60px;
    padding-left: 15px;
}

.header-user-title{
    width: calc(100% - 150px);
    float: left;
    line-height: 60px;
    padding-left: 10px;
}

.left-nav{
    width: 70px;
    height: 100%;
    float: left;
    background-color: #5182E4;
    color: #ffffff;
    padding-top: 60px;
}

.left-nav-i{
    width: 100%;
    height: 70px;
    margin: 10px 0;
    padding: 5px 0;
    cursor: pointer;
}

.left-nav-ico{
    width: 100%;
    height: 40px;
}

.left-nav-i.left-nav-i-c{
    background-color: #ffffff;
    color: #4A90E2;
}

.left-nav-title{
    font-size: 12px;
    text-align: center;
}

.right-nav{
    width: calc(100% - 70px);
    height: 100%;
    float: left;
    background-color: #EFEFEF;
}