<div class="root-main">
    <div class="root-header">
        <span class="root-h-t">权限设置</span>
        <i class="fa fa-angle-right"></i>
        <span>管理员设置</span>
    </div>
    <div class="root-body">
        <div class="amd-b-header">
            <div class="amd-b-tag-box" ng-click="fn.changeTag($event,'admin')">
                <span class="amd-b-tag" ng-class="{'choose':rootData.chooseType == 'admin'}">管理员设置</span>
            </div>
            <div class="amd-b-tag-box" ng-click="fn.changeTag($event,'group')">
                <span class="amd-b-tag" ng-class="{'choose':rootData.chooseType == 'group'}">用户组管理</span>
            </div>
            <div class="amd-b-tag-box root-b-h-w" ng-click="fn.changeTag($event,'adminLog')">
                <span class="amd-b-tag root-b-h-w-s" ng-class="{'choose':rootData.chooseType == 'adminLog'}">管理员操作日志</span>
            </div>
        </div>
        <div class="root-b-body">
            <div class="root-b-b-header root-b-b-h-query-main">
                <div class="root-b-b-h-query-box">
                    <label class="root-b-b-h-query-l">管理员昵称:</label>
                    <input type="text" class="form-control root-b-b-h-query-in">
                </div>
                <div class="root-b-b-h-query-box">
                    <label class="root-b-b-h-query-l">用户组:</label>
                    <input type="text" class="form-control root-b-b-h-query-in">
                </div>
                <div class="root-b-b-h-query-box">
                    <label class="root-b-b-h-query-l">手机号:</label>
                    <input type="text" class="form-control root-b-b-h-query-in">
                </div>
                <div class="root-b-b-h-query1-box">
                    <label class="root-b-b-h-query-l">最后操作时间:</label>
                    <div class="root-b-b-h-query1-date-box">
                        <input type="text"
                               class="form-control am-r-op-date date-input root-b-b-h-query1-date"
                               data-date-format="yyyy年MM月dd日"
                               ng-model="amData.startDate"
                               data-autoclose="1"
                               data-max-date="{{amData.endDate}}"
                               placeholder="请输入开始日期"
                               bs-datepicker="">
                        <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                        <label class="am-op-item-s">-</label>
                        <input type="text"
                               class="form-control am-r-op-date date-input root-b-b-h-query1-date"
                               data-date-format="yyyy年MM月dd日"
                               ng-model="amData.endDate"
                               data-min-date="{{amData.startDate}}"
                               data-autoclose="1"
                               placeholder="请输入结束日期"
                               bs-datepicker="">
                        <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                    </div>
                    <div class="root-b-b-h-query-btn-box">
                        <button class="root-b-b-h-query-btn">
                            查询
                        </button>
                    </div>
                </div>
            </div>
            <div class="root-b-b-body">
                <div class="root-b-b-h-add-btn-box">
                    <div class="am-add-a root-b-b-h-add-btn" ng-click="fn.createAccount()">
                        <i class="fi am-l-op-i ico-am-add-a ico-am-add-a-o"></i>
                        <span class="am-add-a-t">创建管理员</span>
                    </div>
                </div>
                <div class="root-b-b-b-con">
                    <div class="root-b-b-b-con-head">
                        <ul class="w100 h100 root-b-b-b-con-par-ul">
                            <li class="amdRoot-t-b-w15 root-b-b-b-con-par-li">管理员昵称</li>
                            <li class="amdRoot-t-b-w15 root-b-b-b-con-par-li">用户组</li>
                            <li class="amdRoot-t-b-w25 root-b-b-b-con-par-li">手机号</li>
                            <li class="amdRoot-t-b-w25 root-b-b-b-con-par-li">创建时间</li>
                            <li class="amdRoot-t-b-w20 root-b-b-b-con-par-li">操作</li>
                        </ul>
                    </div>
                    <div class="root-b-b-b-con-body">
                        <ul class="w100" ng-repeat="item in rootData.rootList track by $index">
                            <li class="amdRoot-t-b-w15 root-b-b-b-con-chi-li">香蜜沉沉烬如霜</li>
                            <li class="amdRoot-t-b-w15 root-b-b-b-con-chi-li">战长</li>
                            <li class="amdRoot-t-b-w25 root-b-b-b-con-chi-li">18345909890</li>
                            <li class="amdRoot-t-b-w25 root-b-b-b-con-chi-li">2016.06.08  09:30:20</li>
                            <li class="amdRoot-t-b-w20 root-b-b-b-con-chi-li">
                                <span>查看日志</span>
                                <span>删除</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="root-b-b-footer"></div>
        </div>
    </div>
    <div class="root-footer">

    </div>
</div>