.appm-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.appm-header{
    width: 100%;
    height: 40px;
}

.appm-body{
    width: 100%;
    height: calc(100% - 90px);
    padding: 15px;
}

.appm-footer{
    width: 100%;
    height: 50px;
}

.appm-h-t{
    width: 200px;
    height: 100%;
    line-height: 40px;
    padding-left: 20px;
    color: #5182E4;
    cursor: pointer;
}

.appm-b-header{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.appm-b-h-item-box{
    width: 100%;
    height: 50px;
    padding: 10px;
}

.appm-b-h-item{
    width: 25%;
    float: left;
    height: 100%;
}

.appm-b-h-i-l{
    width: 100px;
    text-align: center;
    height: 100%;
    float: left;
    line-height: 30px;
}

.appm-b-h-i-in{
    width: calc(100% - 120px);
    height: 30px;
}

.appm-b-h-i-b{
    width: 40%;
    height: 100%;
    float: left;
}

.appm-b-h-i-date{
    width: calc(50% - 70px);
}

.add-app-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.aam-header{
    width: 100%;
    height: 50px;
}

.aam-body{
    width: calc(100% - 30px);
    height: calc(100% - 100px);
    margin: 0 15px;
    background-color: #ffffff;
    padding: 25px;
}

.aam-footer{
    width: 100%;
    height: 50px;
}

.aam-b-a-i1-box{
    width: 100%;
    height: 120px;
    margin: 10px;
}

.aam-b-a-i1-l{
    width: 100px;
    height: 100px;
    float: left;
    text-align: right;
    padding-right: 15px;
    line-height: 30px;
}

.aam-b-a-i1-img-op-box{
    width: calc(100% - 100px);
    float: left;
    height: 100%;
    padding-left: 15px;
}

.aam-b-a-i1-img-box{
    width: 100px;
    height: 100%;
    float: left;
}

.aam-b-a-i1-img-op{
    width: 100px;
    height: 100px;
}

.aam-b-a-i1-op-btn-box{
    width: 100px;
    text-align: center;
    height: 100%;
    float: left;
    padding: 70px 10px 0 10px;
}

.aam-b-a-i1-op-btn{
    width: 80px;
    height: 30px;
    background-color: #5182E4;
    color: #ffffff;
    border: 0;
    font-size: 12px;
    border-radius: 5px;
}

.aam-h-t{
    width: 200px;
    line-height: 50px;
    padding-left: 20px;
}

.aam-h-t-btn{
    color: #5182E4;
    cursor: pointer;
}

.aam-b-a-i2-box{
    width: calc(100% - 20px);
    margin: 20px 10px;
}

.aam-b-a-i5-box{
    width: calc(100% - 20px);
    margin: 20px 10px;
    height: 130px;
}

.aam-b-a-i2-l{
    width: 100px;
    float: left;
    text-align: center;
    padding-right: 15px;
    line-height: 30px;
}

.aam-b-a-i2-in{
    width: 250px;
    height: 30px;
    margin-left: 15px;
    float: left;
    font-size: 12px;
}

.aam-b-a-i3-box{
    width: calc(100% - 120px);
    height: 30px;
    float: left;
    margin-left: 15px;
}

.aam-b-a-i3-label-box{
    width: 100px;
    height: 30px;
    float: left;
    line-height: 30px;
}

.aam-b-a-i3-t{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    margin-left: 120px;
    float: left;
}

.aam-b-a-i4-c{
    width: calc(100% - 120px);
    float: left;
    margin-left: 15px;
}

.aam-b-a-i4-l{
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

.aam-b-a-i4-in-box{
    width: 100%;
    height: 50px;
    padding: 10px;
    float: left;
}

.aam-b-a-i4-in {
    width: 250px;
    margin-left: 105px;
    font-size: 12px;
    height: 30px;
}

.aam-b-a-i6-box{
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-left: 120px;
}

.aam-b-a-i6-btn-sub{
    width: 80px;
    height: 30px;
    border: 0;
    color: #ffffff;
    border-radius: 3px;
    background-color: #5182E4;
    font-size: 12px;
    margin-right: 20px;
}

.aam-b-a-i6-btn-cancel{
    width: 78px;
    height: 28px;
    border: 1px solid #5182E4;
    color: #5182E4;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 12px;
    margin-right: 20px;
}

.aem-main{
    width: 100%;
    height: 100%;
}

.aem-b-i2-con{
    width: calc(100% - 120px);
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #797979;
}

.aem-b-i2-last-t{
    width: 150px;
}

.aem-b-i2-last-con{
    width: calc(100% - 150px);
    height: 30px;
    line-height: 30px;
    float: left;
}

.aem-b-i2-last-span{
    float: left;
}

.aem-b-i2-last-select{
    width: 80px;
    float: left;
}