.root-main{
    width: 100%;
    height: 100%;
}

.root-header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
}

.root-h-t{
    color: #5182E4;
    cursor: pointer;
}

.root-body{
    width: calc(100% - 30px);
    height: calc(100% - 100px);
    margin: 0 15px;
    background-color: #ffffff;
}

.root-footer{
    width: 100%;
    height: 50px;
}

.root-b-h-w{
    width: 120px;
}

.root-b-h-w-s{
    width: 100px;
}

.root-b-b-h-query-box{
    width: 20%;
    float: left;
}

.root-b-b-h-query-l{
    width: 100px;
    text-align: center;
    height: 50px;
    float: left;
    line-height: 30px;
    padding: 10px 0;
}

.root-b-b-h-query-in{
    width: calc(100% - 100px);
    height: 30px;
    float: left;
    margin: 10px 0;
}

.root-b-b-h-query1-box{
    width: 40%;
    float: left;
}

.root-b-b-h-query1-date-box{
    width: calc(100% - 220px);
    float: left;
    height: 30px;
    margin: 10px 0;
}

.root-b-b-h-query1-date{
    width: calc(50% - 15px);
}

.root-b-b-h-query-btn-box{
    width: 120px;
    float: left;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.root-b-b-h-query-btn{
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    background-color: #5182E4;
    color: #ffffff;
    font-size: 12px;
}

.root-b-b-h-add-btn{
    width: 110px;
}

.root-b-b-h-query-main{
    width: calc(100% - 20px);
    height: 70px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #cccccc;
}

.root-b-b-h-add-btn-box{
    width: 100%;
    height: 60px;
    padding: 10px 0;
}

.root-b-body{
    width: 100%;
    height: calc(100% - 50px);
}

.root-b-b-body{
    width: 100%;
    height: calc(100% - 140px);
}

.root-b-b-b-con{
    width: 100%;
    height: calc(100% - 60px);
    padding: 0 15px;
}

.root-b-b-b-con-head{
    width: 100%;
    height: 40px;
}

.root-b-b-b-con-body{
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}

.root-b-b-b-con-par-ul{
    background-color: #F8F8F8;
}

.root-b-b-b-con-par-li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
}

.root-b-b-b-con-chi-li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 12px;
    color: #999999;
}