<div class="w100 h100 ovh">
    <div class="am-header">
        <div class="am-header-t">
            用户管理
        </div>
        <div class="am-op-box">
            <div class="am-op-box-q">
                <div class="am-op-item-f">
                    <label class="am-op-item-t">用户昵称:</label>
                    <input type="text" class="form-control am-op-item-in">
                </div>
                <div class="am-op-item-f">
                    <label class="am-op-item-t">手机号:</label>
                    <input type="text" class="form-control am-op-item-in">
                </div>
                <div class="am-op-item-f">
                    <label class="am-op-item-t">性别:</label>
                    <div class="am-op-item-in">
                        <selectize class="w100" config='$root.valueSelectConfig'
                                   options='amData.sexData'
                                   ng-model="amData.sex">
                        </selectize>
                    </div>
                </div>
                <div class="am-op-item-b">
                    <label class="am-op-item-t am-op-item-t-d">注册日期:</label>
                    <input type="text"
                           class="form-control am-r-op-date date-input"
                           data-date-format="yyyy年MM月dd日"
                           ng-model="amData.startDate"
                           data-autoclose="1"
                           data-max-date="{{amData.endDate}}"
                           placeholder="请输入开始日期"
                           bs-datepicker="">
                    <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                    <label class="am-op-item-s">-</label>
                    <input type="text"
                           class="form-control am-r-op-date date-input"
                           data-date-format="yyyy年MM月dd日"
                           ng-model="amData.endDate"
                           data-min-date="{{amData.startDate}}"
                           data-autoclose="1"
                           placeholder="请输入结束日期"
                           bs-datepicker="">
                    <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                </div>
            </div>
            <div class="am-op-box-q">
                <div class="am-op-item-f">
                    <label class="am-op-item-t">使用状态:</label>
                    <div class="am-op-item-in">
                        <selectize class="w100" config='$root.valueSelectConfig'
                                   options='amData.statusData'
                                   ng-model="amData.status">
                        </selectize>
                    </div>
                </div>
                <div class="am-op-item-f">
                    <label class="am-op-item-t">注册地:</label>
                    <input type="text" class="form-control am-op-item-in"
                           ng-click="chooseSignUpData($event,amData.signUpAdd,'addName')"
                           ng-focus="chooseSignUpData($event,amData.signUpAdd,'addName')"
                           ng-model="amData.signUpAdd.addName">
                </div>
                <div class="am-op-item-f">
                    <label class="am-op-item-t">最后登录:</label>
                    <input type="text" class="form-control am-op-item-in"
                           ng-click="chooseSignUpData($event,amData.lastLoginData,'addName')"
                           ng-focus="chooseSignUpData($event,amData.lastLoginData,'addName')"
                           ng-model="amData.lastLoginData.addName">
                </div>
                <div class="am-op-item-b">
                    <button class="am-btn-search">查询</button>
                </div>
            </div>
        </div>
        <div class="am-r-op" ng-if="">
            <div class="am-r-op-search-box">
                <input type="text" class="form-control am-r-op-search-input" placeholder="请输入手机号/邮箱/昵称">
                <i class="am-r-op-search-icon fi ico-search-icon ico-search-icon-o"></i>
            </div>
            <div class="am-r-op-date-box">
                <span class="am-r-op-date-t1">注册日期:</span>
                <input type="text"
                       class="form-control am-r-op-date date-input"
                       data-date-format="yyyy年MM月dd日"
                       ng-model="query.startDate"
                       data-autoclose="1"
                       placeholder="请输入开始日期"
                       bs-datepicker="">
                <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                <span class="am-r-op-date-t2">到</span>
                <input type="text"
                       class="form-control am-r-op-date date-input"
                       data-date-format="yyyy年MM月dd日"
                       ng-model="query.startDate"
                       data-autoclose="1"
                       placeholder="请输入开始日期"
                       bs-datepicker="">
                <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
            </div>
            <div class="am-r-op-select-box">
                <select class="form-control">
                    <option value="1">启用</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </div>
    </div>
    <div class="am-body">
        <div class="am-b-op-box">
            <div class="am-add-a" ng-click="fn.createAccount()">
                <i class="fi am-l-op-i ico-am-add-a ico-am-add-a-o"></i>
                <span class="am-add-a-t">创建用户</span>
            </div>
            <div class="am-export-a" ng-click="fn.exportAccount()">
                <i class="fi am-l-op-i ico-am-export-a ico-am-export-a-o"></i>
                <span class="am-export-a-t">导出列表</span>
            </div>
        </div>
        <div class="am-t-th">
            <ul class="w100 h100">
                <li class="am-t-w5 fl h100 text-center am-t-th-li">头像</li>
                <li class="am-t-w10 fl h100 text-center am-t-th-li">昵称</li>
                <li class="am-t-w5 fl h100 text-center am-t-th-li">性别</li>
                <li class="am-t-w10 fl h100 text-center am-t-th-li">手机号</li>
                <li class="am-t-w15 fl h100 text-center am-t-th-li">注册日期</li>
                <li class="am-t-w10 fl h100 text-center am-t-th-li">注册地点</li>
                <li class="am-t-w15 fl h100 text-center am-t-th-li">最后登陆日期</li>
                <li class="am-t-w10 fl h100 text-center am-t-th-li">最后登陆地点</li>
                <li class="am-t-w20 fl h100 text-center am-t-th-li">操作</li>
            </ul>
        </div>
        <div class="am-t-tb" id="userList">
            <ul class="w100 am-t-tb-ul" ng-repeat="a in thisList track by $index">
                <li class="am-t-w5 fl h100 text-center am-t-tb-li">
                    <div class="w100 h100">
                        <img class="am-t-tb-user-icon" src="/images/user/demo_icon.png" alt="图片加载失败">
                        <div class="am-t-tb-user-close-box" ng-if="$index % 3 == 2">
                            <img class="am-t-tb-user-close-icon" src="/images/icon/close_user.png">
                        </div>
                    </div>
                </li>
                <li class="am-t-w10 fl h100 text-center am-t-tb-li">
                    香蜜沉沉烬如霜
                </li>
                <li class="am-t-w5 fl h100 text-center am-t-tb-li">
                    女
                </li>
                <li class="am-t-w10 fl h100 text-center am-t-tb-li">
                    18345909890
                </li>
                <li class="am-t-w15 fl h100 text-center am-t-tb-li">
                    2016.07.13  12:34:08
                </li>
                <li class="am-t-w10 fl h100 text-center am-t-tb-li">
                    广东省深圳市
                </li>
                <li class="am-t-w15 fl h100 text-center am-t-tb-li">
                    2016.07.13  12:34:08
                </li>
                <li class="am-t-w10 fl h100 text-center am-t-tb-li">
                    广东省深圳市
                </li>
                <li class="am-t-w20 fl h100 text-center am-t-tb-li">
                    <span class="am-t-tb-op-t">修改</span>
                    <span class="am-t-tb-op-t" ng-click="fn.deleteAccount($event)">删除</span>
                    <span class="am-t-tb-op-t" ng-click="fn.showDetail($event)">查看详情</span>
                </li>
            </ul>

        </div>
        <div class="am-footer ">
            <div class="am-b-page">
                <uib-pagination total-items="1000"
                                ng-model="amData.currentPage"
                                max-size="5"
                                class="pagination-sm"
                                boundary-link-numbers="true"
                                force-ellipses="true"
                                previous-text="<"
                                items-per-page="{{20}}"
                                class="page-select-panel"
                                next-text=">">
                </uib-pagination>
            </div>
            <pre class="am-copyright">Copyright © 1980-2016 康佳集团股份有限公司 版权所有 | 联系我们 | 法律声明 | 隐私保护 | 粤ICP备 05059413</pre>
        </div>
    </div>
</div>