<div class="amd-main">
    <div class="amd-header">
        <div class="amd-h-t-box">
            <span class="amd-h-t-r" ng-click="fn.goBack($event)">用户管理</span>
            <i class="fa fa-angle-right"></i>
            <span ng-if="chooseType == 'detail'">详情</span>
            <span ng-if="chooseType == 'root'">绑定授权</span>
            <span ng-if="chooseType == 'log'">操作日志</span>
        </div>
    </div>
    <div class="amd-body">
        <div class="amd-b-header">
            <div class="amd-b-tag-box" ng-click="fn.changeTag($event,'detail')">
                <span class="amd-b-tag" ng-class="{'choose':chooseType == 'detail'}">用户详情</span>
            </div>
            <div class="amd-b-tag-box" ng-click="fn.changeTag($event,'root')">
                <span class="amd-b-tag" ng-class="{'choose':chooseType == 'root'}">绑定授权</span>
            </div>
            <div class="amd-b-tag-box" ng-click="fn.changeTag($event,'log')">
                <span class="amd-b-tag" ng-class="{'choose':chooseType == 'log'}">操作日志</span>
            </div>
        </div>
        <div class="amd-b-body">
            <div class="w100 h100" ng-if="chooseType == 'detail'">
                <ng-include src="'partials/accountManage/amdDetail.html'"></ng-include>
            </div>
            <div class="w100 h100" ng-if="chooseType == 'root'">
                <ng-include src="'partials/accountManage/amdRoot.html'"></ng-include>
            </div>
            <div class="w100 h100" ng-if="chooseType == 'log'">
                <ng-include src="'partials/accountManage/amdOpLog.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="amd-footer">
        <pre class="amd-footer-pre">Copyright © 1980-2016 康佳集团股份有限公司 版权所有 | 联系我们 | 法律声明 | 隐私保护 | 粤ICP备 05059413</pre>
    </div>
</div>