<div class="amdDetail-main">
    <div class="amdDetail-base">
        <div class="amdDetail-base-header">
            基本信息
        </div>
        <div class="amdDetail-base-body">
            <div class="amdDetail-b-ap-box clearfix">
                <label class="amdDetail-b-ap-t">头像:</label>
                <div class="amdDetail-b-ap-p-box">
                    <img class="amdDetail-b-ap-p" src="../../images/user/demo_p.png" alt="图片加载失败">
                </div>
            </div>
            <div class="amdDetail-b-ai clearfix">
                <div class="amdDetail-b-ai-item1">
                    <label class="amdDetail-b-ai-label">昵称:</label>
                    <div class="amdDetail-b-ai-c">晓风残月</div>
                </div>
                <div class="amdDetail-b-ai-item2">
                    <label class="amdDetail-b-ai-label">邮箱:</label>
                    <div class="amdDetail-b-ai-c" ng-if="!detailData.isEditEmail">
                        <span class="fl" ng-bind="detailData.email"></span>
                        <span class="amdDetail-edit-op-box" ng-click="fn.editEmail($event)">
                            <i class="fi ico-adm-edit ico-adm-edit-o amdDetail-edit-op-i"></i>
                            <span class="amdDetail-edit-op-t">修改</span>
                        </span>
                    </div>
                    <div class="amdDetail-b-ai-c" ng-if="detailData.isEditEmail">
                        <input type="text"
                               ng-model="detailData.email_e"
                               class="form-control amdDetail-edit-in"
                               ng-focus="fn.focusEmail()"
                               ng-class="{'error':detailData.emailError}">
                        <button class="amdDetail-edit-btn" ng-click="fn.saveDetailEmail($event)">保存</button>
                        <span class="amdDetail-edit-btn-c" ng-click="fn.cancelEditEmail($event)">取消</span>
                    </div>
                    <div class="amdDetail-edit-e-err" ng-if="detailData.emailError">
                        <span ng-bind="detailData.emailErrorTip"></span>
                    </div>
                </div>
            </div>
            <div class="amdDetail-b-ai clearfix">
                <div class="amdDetail-b-ai-item1">
                    <label class="amdDetail-b-ai-label">性别:</label>
                    <div class="amdDetail-b-ai-c">女</div>
                </div>
                <div class="amdDetail-b-ai-item2">
                    <label class="amdDetail-b-ai-label">地区:</label>
                    <div class="amdDetail-b-ai-c">广东省-深圳市-南山区-高新南十道</div>
                </div>
            </div>
            <div class="amdDetail-b-ai clearfix">
                <div class="amdDetail-b-ai-item1">
                    <label class="amdDetail-b-ai-label">生日:</label>
                    <div class="amdDetail-b-ai-c">1990-03-14</div>
                </div>
                <div class="amdDetail-b-ai-item2">
                    <label class="amdDetail-b-ai-label">住址:</label>
                    <div class="amdDetail-b-ai-c">康佳研发大厦A座2005室</div>
                </div>
            </div>
            <div class="amdDetail-b-ai clearfix">
                <div class="amdDetail-b-ai-item1">
                    <label class="amdDetail-b-ai-label">手机:</label>
                    <div class="amdDetail-b-ai-c" ng-if="!detailData.isEditMobile">
                        <span class="fl" ng-bind="detailData.mobile"></span>
                        <span class="amdDetail-edit-op-box" ng-click="fn.editMobile($event)">
                            <i class="fi ico-adm-edit ico-adm-edit-o amdDetail-edit-op-i"></i>
                            <span class="amdDetail-edit-op-t">修改</span>
                        </span>
                    </div>
                    <div class="amdDetail-b-ai-c" ng-if="detailData.isEditMobile">
                        <input type="text"
                               ng-model="detailData.mobile_e"
                               maxlength="11"
                               class="form-control amdDetail-edit-in"
                               ng-focus="fn.focusMobile()"
                               ng-class="{'error':detailData.mobileError}">
                        <button class="amdDetail-edit-btn" ng-click="fn.saveDetailMobile($event)">保存</button>
                        <span class="amdDetail-edit-btn-c" ng-click="fn.cancelMobile($event)">取消</span>
                    </div>
                    <div class="amdDetail-edit-e-err" ng-if="detailData.mobileError">
                        <span ng-bind="detailData.mobileErrorTip"></span>
                    </div>
                </div>
                <div class="amdDetail-b-ai-item2">
                    <label class="amdDetail-b-ai-label">密码:</label>
                    <div class="amdDetail-b-ai-c" ng-if="!detailData.isEditPwd">
                        <span class="cur-pointer amdDetail-edit-op-l" ng-click="fn.resetPwd($event)">重置</span>
                    </div>
                    <div class="amdDetail-b-ai-c" ng-if="detailData.isEditPwd">
                        <input type="text"
                               ng-model="detailData.new_pwd"
                               maxlength="16"
                               ng-focus="fn.focusPwd()"
                               class="form-control amdDetail-edit-in"
                               ng-class="{'error':detailData.pwdError}">
                        <button class="amdDetail-edit-btn" ng-click="fn.saveEditPwd($event)">保存</button>
                        <span class="amdDetail-edit-btn-c" ng-click="fn.cancelPwd($event)">取消</span>
                    </div>
                    <div class="amdDetail-edit-e-err" ng-if="detailData.pwdError">
                        <span ng-bind="detailData.pwdErrorTip"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="amdDetail-admin">
        <div class="amdDetail-a-header">
            管理员操作
        </div>
        <div class="amdDetail-a-body">
            <div class="amdDetail-a-op-box" ng-click="fn.closeAccount($event)">
                <i class="fi ico-adm-close-a ico-adm-close-a-o amdDetail-a-op-i"></i>
                <span class="amdDetail-close-op">禁用用户</span>
            </div>
            <div class="amdDetail-a-op-box">
                <i class="fi ico-adm-del-a ico-adm-del-a-o amdDetail-a-op-i"></i>
                <span class="amdDetail-del-op" ng-click="fn.deleteAccount($event)">删除用户</span>
            </div>
        </div>
    </div>
</div>