<div class="amdLog-main">
    <div class="amdLog-header">
        <div class="amdLog-op-date-box">
            <label class="amdLog-op-date-l">操作时间:</label>
            <div>
                <input type="text"
                       class="form-control am-r-op-date date-input"
                       data-date-format="yyyy年MM月dd日"
                       ng-model="detailData.startDate"
                       data-autoclose="1"
                       data-max-date="{{detailData.endDate}}"
                       placeholder="请输入开始日期"
                       bs-datepicker="">
                <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                <label class="am-op-item-s">-</label>
                <input type="text"
                       class="form-control am-r-op-date date-input"
                       data-date-format="yyyy年MM月dd日"
                       ng-model="detailData.endDate"
                       data-min-date="{{detailData.startDate}}"
                       data-autoclose="1"
                       placeholder="请输入结束日期"
                       bs-datepicker="">
                <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
            </div>
        </div>
        <div class="amdLog-op-op-box">
            <label class="amdLog-op-date-l">操作类型:</label>
            <div class="amdLog-op-op">
                <selectize class="w100" config='$root.valueSelectConfig'
                           options='detailData.opList'
                           ng-model="detailData.op">
                </selectize>
            </div>
        </div>
        <div class="amdLog-op-area-box">
            <label class="amdLog-op-date-l">地域:</label>
            <div class="amdLog-op-area">
                <input type="text" class="form-control amdLog-op-in"
                       ng-click="fn.chooseSignUpData($event,detailData.areaData,'area')"
                       ng-focus="fn.chooseSignUpData($event,detailData.areaData,'area')"
                       ng-model="detailData.areaData.area">
            </div>
        </div>
        <div class="amdLog-op-IPAdd-box">
            <label class="amdLog-op-date-l">IP地址:</label>
            <div class="amdLog-op-IPAdd">
                <input type="text" class="form-control amdLog-op-in">
            </div>
        </div>
        <div class="amdLog-op-con-box">
            <div class="amdLog-op-con">
                <input type="text" class="form-control amdLog-op-in" placeholder="输入操作内容">
            </div>
            <div class="amdLog-op-con-btn-box">
                <button class="amdLog-op-con-btn">搜索</button>
            </div>
        </div>
    </div>
    <div class="amdLog-body">
        <div class="amdLog-b-header">
            <ul class="amdLog-b-h-ul clearfix">
                <li class="amdRoot-t-b-w30 amdLog-b-h-li">
                    操作时间
                </li>
                <li class="amdRoot-t-b-w15 amdLog-b-h-li">
                    操作类型
                </li>
                <li class="amdRoot-t-b-w25 amdLog-b-h-li">
                    IP地址
                </li>
                <li class="amdRoot-t-b-w30 amdLog-b-h-li">
                    操作内容
                </li>
            </ul>
        </div>
        <div class="amdLog-b-body">
            <ul ng-repeat="item in detailData.logList track by $index" class="amdLog-b-b-ul clearfix">
                <li class="amdRoot-t-b-w30 amdLog-b-b-li">2016.06.08  09:30:20</li>
                <li class="amdRoot-t-b-w15 amdLog-b-b-li">登录应用</li>
                <li class="amdRoot-t-b-w25 amdLog-b-b-li">106.02.15:807【广东省深圳市</li>
                <li class="amdRoot-t-b-w30 amdLog-b-b-li">使用康佳TV登录</li>
            </ul>
        </div>
    </div>
    <div class="amdLog-footer">
        <uib-pagination total-items="1000"
                        ng-model="amData.currentPage"
                        max-size="5"
                        class="pagination-sm amdLog-footer-pageList"
                        boundary-link-numbers="true"
                        force-ellipses="true"
                        previous-text="<"
                        items-per-page="{{20}}"
                        class="page-select-panel"
                        next-text=">">
        </uib-pagination>
    </div>
</div>