<div class="amdRoot-main">
    <div class="amdRoot-top">
        <div class="amdRoot-t-header">
            <div class="amdRoot-t-h-t1">绑定</div>
            <div class="amdRoot-t-h-t2">康佳帐号绑定的第三方帐号，可用于直接登录康佳网等网站</div>
        </div>
        <div class="amdRoot-t-body">
            <div class="amdRoot-t-b-header">
                <ul class="amdRoot-t-b-h-ul">
                    <li class="amdRoot-t-b-h-li amdRoot-t-b-w15">应用图标</li>
                    <li class="amdRoot-t-b-h-li amdRoot-t-b-w25">应用名称</li>
                    <li class="amdRoot-t-b-h-li amdRoot-t-b-w30">IP地址</li>
                    <li class="amdRoot-t-b-h-li amdRoot-t-b-w30">绑定日期</li>
                </ul>
            </div>
            <div class="amdRoot-t-b-body">
                <ul class="amdRoot-t-b-b-ul" ng-repeat="item in detailData.rootTopList track by $index">
                    <li class="amdRoot-t-b-b-li amdRoot-t-b-w15">
                        <div class="amdRoot-t-b-item1"></div>
                    </li>
                    <li class="amdRoot-t-b-b-li amdRoot-t-b-w25">应用碑谷</li>
                    <li class="amdRoot-t-b-b-li amdRoot-t-b-w30">106.02.15:807【广东省深圳市】</li>
                    <li class="amdRoot-t-b-b-li amdRoot-t-b-w30">2016.06.08  09:30:20</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="amdRoot-bottom">
        <div class="amdRoot-t-header">
            <div class="amdRoot-t-h-t1">授权</div>
            <div class="amdRoot-t-h-t2">用户已经授权以下应用访问用户的部分帐号信息</div>
        </div>
        <div class="amdRoot-t-body">
            <div class="amdRoot-t-b-header">
                <ul class="amdRoot-t-b-h-ul">
                    <li class="amdRoot-t-b-h-li amdRoot-t-b-w15">应用图标</li>
                    <li class="amdRoot-t-b-h-li amdRoot-t-b-w25">应用名称</li>
                    <li class="amdRoot-t-b-h-li amdRoot-t-b-w30">IP地址</li>
                    <li class="amdRoot-t-b-h-li amdRoot-t-b-w30">绑定日期</li>
                </ul>
            </div>
            <div class="amdRoot-t-b-body">
                <ul class="amdRoot-t-b-b-ul" ng-repeat="item in detailData.rootTopList track by $index">
                    <li class="amdRoot-t-b-b-li amdRoot-t-b-w15">
                        <div class="amdRoot-t-b-item2">
                            <img class="amdRoot-t-b-item2-img" src="../../images/user/demo_icon.png" alt="">
                        </div>
                    </li>
                    <li class="amdRoot-t-b-b-li amdRoot-t-b-w25">应用碑谷</li>
                    <li class="amdRoot-t-b-b-li amdRoot-t-b-w30">106.02.15:807【广东省深圳市】</li>
                    <li class="amdRoot-t-b-b-li amdRoot-t-b-w30">2016.06.08  09:30:20</li>
                </ul>
            </div>
        </div>
    </div>
</div>