<div class="add-app-main">
    <div class="aam-header">
        <div class="aam-h-t">
            <span class="aam-h-t-btn" ng-click="fn.goBack()">应用管理</span>
            <i class="fa fa-angle-right"></i>
            <span>创建应用</span>
        </div>
    </div>
    <div class="aam-body">
        <div class="aam-b-a-i1-box">
            <label class="aam-b-a-i1-l">应用图标:</label>
            <div class="aam-b-a-i1-img-op-box">
                <div class="aam-b-a-i1-img-box">
                    <img class="aam-b-a-i1-img-op" ng-show="!appData.image" src="../../images/icon/default_logo.png" alt="">
                    <img class="aam-b-a-i1-img-op" ng-show="appData.image" ng-src="{{appData.image}}" >
                </div>
                <div class="aam-b-a-i1-op-btn-box">
                    <button class="aam-b-a-i1-op-btn" ng-click="fn.uploadImg()">上传头像</button>
                </div>
            </div>
        </div>
        <div class="aam-b-a-i2-box clearfix">
            <label class="aam-b-a-i2-l">应用名称:</label>
            <input type="text" class="form-control aam-b-a-i2-in" placeholder="请输入应用名称，长度2-64个字符" minlength="2" maxlength="16">
        </div>
        <div class="aam-b-a-i2-box clearfix">
            <label class="aam-b-a-i2-l">是否信任:</label>
            <div class="aam-b-a-i3-box">
                <label class="aam-b-a-i3-label-box">
                    <input type="radio" name="isAdmin" >
                    <span>是</span>
                </label>
                <label class="aam-b-a-i3-label-box">
                    <input type="radio" name="isAdmin">
                    <span>否</span>
                </label>
            </div>
            <div class="aam-b-a-i3-t">
                注：非康佳信任应用，在用户使用康佳账号登录时，弹出确认登录页面
            </div>
        </div>
        <div class="aam-b-a-i5-box clearfix">
            <label class="aam-b-a-i2-l">应用类型:</label>
            <div class="aam-b-a-i4-c">
                <label class="aam-b-a-i4-l">
                    <input type="radio" name="appType" ng-model="appData.appType" value="{{'phone'}}">
                    <span>移动应用</span>
                </label>
                <label class="aam-b-a-i4-l">
                    <input type="radio" name="appType" ng-model="appData.appType" value="{{'web'}}">
                    <span>网站应用</span>
                </label>
            </div>
            <div class="aam-b-a-i4-in-box" ng-if="appData.appType == 'phone'">
                <input type="text" class="form-control aam-b-a-i4-in" placeholder="请输入应用包名">
            </div>
            <div class="aam-b-a-i4-in-box" ng-if="appData.appType == 'phone'">
                <input type="text" class="form-control aam-b-a-i4-in" placeholder="请输入应用版本号">
            </div>
            <div class="aam-b-a-i4-in-box" ng-if="appData.appType == 'web'">
                <input type="text" class="form-control aam-b-a-i4-in" placeholder="请输入应用网址">
            </div>
        </div>
        <div class="aam-b-a-i6-box">
            <button class="aam-b-a-i6-btn-sub" ng-click="fn.goBack()">添加</button>
            <button class="aam-b-a-i6-btn-cancel" ng-click="fn.goBack()">取消</button>
        </div>
    </div>
    <div class="aam-footer">
        <pre class="amd-footer-pre">Copyright © 1980-2016 康佳集团股份有限公司 版权所有 | 联系我们 | 法律声明 | 隐私保护 | 粤ICP备 05059413</pre>
    </div>
</div>