<div class="appm-main">
    <div class="appm-header">
        <div class="appm-h-t">应用管理</div>
    </div>
    <div class="appm-body">
        <div class="appm-b-header">
            <div class="appm-b-h-item-box">
                <div class="appm-b-h-item">
                    <label class="appm-b-h-i-l">应用名称:</label>
                    <input type="text" class="form-control appm-b-h-i-in">
                </div>
                <div class="appm-b-h-item">
                    <label class="appm-b-h-i-l">应用类型:</label>
                    <input type="text" class="form-control appm-b-h-i-in">
                </div>
                <div class="appm-b-h-item">
                    <label class="appm-b-h-i-l">应用版本:</label>
                    <input type="text" class="form-control appm-b-h-i-in">
                </div>
                <div class="appm-b-h-item">
                    <label class="appm-b-h-i-l">APP ID:</label>
                    <input type="text" class="form-control appm-b-h-i-in">
                </div>
            </div>
            <div class="appm-b-h-item-box">
                <div class="appm-b-h-i-b">
                    <label class="appm-b-h-i-l">创建日期:</label>
                    <input type="text"
                           class="form-control am-r-op-date date-input appm-b-h-i-date"
                           data-date-format="yyyy年MM月dd日"
                           ng-model="appData.startDate"
                           data-autoclose="1"
                           data-max-date="{{appData.endDate}}"
                           placeholder="请输入开始日期"
                           bs-datepicker="">
                    <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                    <label class="am-op-item-s">-</label>
                    <input type="text"
                           class="form-control am-r-op-date date-input appm-b-h-i-date"
                           data-date-format="yyyy年MM月dd日"
                           ng-model="appData.endDate"
                           data-min-date="{{appData.startDate}}"
                           data-autoclose="1"
                           placeholder="请输入结束日期"
                           bs-datepicker="">
                    <i class="am-r-op-date-icon fi ico-data-picker-icon ico-data-picker-icon-o"></i>
                </div>
                <div class="appm-b-h-i-b">
                    <button class="am-btn-search">查询</button>
                </div>
            </div>
        </div>
        <div class="appm-b-body">
            <div class="appm-b-b-header">
                <div class="am-add-a" ng-click="fn.createAppData($event)">
                    <i class="fi am-l-op-i ico-am-add-a ico-am-add-a-o"></i>
                    <span class="am-add-a-t">添加用户</span>
                </div>
                <div class="am-export-a" ng-click="fn.exportAppData($event)">
                    <i class="fi am-l-op-i ico-am-export-a ico-am-export-a-o"></i>
                    <span class="am-export-a-t">导出列表</span>
                </div>
            </div>
            <div class="appm-b-b-body">
                <div class="appm-b-b-b-header">
                    <ul class="appm-b-b-b-h-ul">
                        <li class="amdRoot-t-b-w10 appm-b-b-b-h-li">应用图标</li>
                        <li class="amdRoot-t-b-w15 appm-b-b-b-h-li">应用名称</li>
                        <li class="amdRoot-t-b-w10 appm-b-b-b-h-li">应用类型</li>
                        <li class="amdRoot-t-b-w10 appm-b-b-b-h-li">应用版本</li>
                        <li class="amdRoot-t-b-w15 appm-b-b-b-h-li">app_id</li>
                        <li class="amdRoot-t-b-w20 appm-b-b-b-h-li">创建时间</li>
                        <li class="amdRoot-t-b-w20 appm-b-b-b-h-li">操作</li>
                    </ul>
                </div>
                <div class="appm-b-b-b-body">
                    <ul class="appm-b-b-b-b-ul clearfix" ng-repeat="item in appData.topList track by $index">
                        <li class="amdRoot-t-b-w10 appm-b-b-b-b-li">
                            <img class="am-t-tb-user-icon" src="/images/user/demo_icon.png" alt="图片加载失败">
                            <div class="am-t-tb-user-close-box" ng-if="$index % 3 == 2">
                                <img class="am-t-tb-user-close-icon" src="/images/icon/close_user.png">
                            </div>
                        </li>
                        <li class="amdRoot-t-b-w15 appm-b-b-b-b-li">
                            纪念碑谷
                        </li>
                        <li class="amdRoot-t-b-w10 appm-b-b-b-b-li">
                            移动端
                        </li>
                        <li class="amdRoot-t-b-w10 appm-b-b-b-b-li">
                            V1.0.023
                        </li>
                        <li class="amdRoot-t-b-w15 appm-b-b-b-b-li">
                            9jaLGygjaiH
                        </li>
                        <li class="amdRoot-t-b-w20 appm-b-b-b-b-li">
                            2016.06.08 09:30:20
                        </li>
                        <li class="amdRoot-t-b-w20 appm-b-b-b-b-li">
                            <span class="am-t-tb-op-t" ng-click="fn.closeAppData($event,$index)">禁用</span>
                            <span class="am-t-tb-op-t" ng-click="fn.deleteAppData($event)">删除</span>
                            <span class="am-t-tb-op-t" ng-click="fn.appDetail($event)">详情</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="appm-b-footer">
            <uib-pagination total-items="1000"
                            ng-model="amData.currentPage"
                            max-size="5"
                            class="pagination-sm"
                            boundary-link-numbers="true"
                            force-ellipses="true"
                            previous-text="<"
                            items-per-page="{{20}}"
                            class="page-select-panel"
                            next-text=">">
            </uib-pagination>
        </div>
    </div>
    <div class="appm-footer">
        <pre class="amd-footer-pre">Copyright © 1980-2016 康佳集团股份有限公司 版权所有 | 联系我们 | 法律声明 | 隐私保护 | 粤ICP备 05059413</pre>
    </div>
</div>