<div class="modal" role="dialog">
    <div class="modal-dialog modal-content ccc-modal">
        <div class="modal-header">
            <span>选着省市</span>
        </div>
        <div class="modal-body">
            <div class="ccc-choosed-city-box">
                <div class="ccc-choosed-title" ng-if="modalData.cp" ng-bind="modalData.cp" ng-click="reset(e,'cp')"></div>
                <div class="ccc-choosed-title" ng-if="modalData.cm" ng-bind="modalData.cm" ng-click="reset(e,'cm')"></div>
                <div class="ccc-choosed-title" ng-if="modalData.cd" ng-bind="modalData.cd" ng-click="reset(e,'cd')"></div>
            </div>
            <div class="clearfix ccc-choosed-box">
                <div class="ccc-choosed-city-item" ng-repeat="province in modalData.cityData track by province.id" ng-click="chooseCity($event,province)">
                    <div ng-bind="province.name"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sub" ng-click="ok()">保存</button>
            <button type="button" class="btn btn-cancel" ng-click="$hide()">取消</button>
        </div>
    </div>
</div>