<div class="modal ci-modal" role="dialog">
    <div class="modal-content modal-dialog">
        <div class="modal-header das-modal-header">
            <div class="das-modal-header-t">
                上传图片
            </div>
            <i class="fi ico-modal-close ico-modal-close-o das-modal-header-c" ng-click="$hide()"></i>
        </div>
        <div class="modal-body">
            <div class="cim-up-box">
                <div class="cropArea">
                    <div ng-if="!data.file" class="cim-up-t">
                        请上传图片
                    </div>
                    <img-crop image="myImage" area-type="square" on-change="updateImg($event)" result-image="myCroppedImage"></img-crop>
                </div>
                <div class="cim-up-dis-box clearfix">
                    <div class="cim-up-res-i-box">
                        <img ng-show="data.file" class="cim-up-res-i" id="resultImg" ng-src="{{myCroppedImage}}" >
                        <img ng-show="!data.file" class="cim-up-res-i" src="../../images/icon/pictrue_ico.png">
                    </div>
                    <div class="cim-up-op-box">
                        <label class="choose-file-btn" for="fileInput">
                            <span>上传图片</span>
                            <input class="hide fileInput" type="file" id="fileInput" ng-model="data.file" file-upload>
                        </label>
                        <button class="cim-up-op-btn" ng-click="ok()">确定修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>