<div class="modal ca-modal" role="dialog">
    <div class="modal-content modal-dialog ca-modal-content">
        <div class="modal-header das-modal-header">
            <div class="das-modal-header-t">
                提示
            </div>
            <i class="fi ico-modal-close ico-modal-close-o das-modal-header-c" ng-click="$hide()"></i>
        </div>
        <div class="modal-body">
            <div class="cam-b-in-box">
                <div class="w100 cam-b-in-item-box">
                    <label class="cam-b-in-t">
                        <i class="cam-need-w">*</i>
                        昵称:
                    </label>
                    <input type="text" class="form-control cam-b-in"
                           ng-class="{'name-error':modalData.nameError}"
                           placeholder="默认ID:2345678"
                           ng-model="amData.name"
                           ng-blur="fn.nameBlur()"
                           ng-focus="fn.inNameFocus()">
                </div>
                <div class="cam-b-in-item-error-msg" ng-if="modalData.nameError" ng-bind="modalData.nameErrorTip"></div>
            </div>
            <div class="cam-b-in-box">
                <div class="w100 cam-b-in-item-box">
                    <label class="cam-b-in-t">
                        <i class="cam-need-w">*</i>
                        手机号:
                    </label>
                    <input type="text" class="form-control cam-b-in"
                           placeholder="请输入要创建用户手机号"
                           ng-model="amData.mobile"
                           ng-class="{'name-error':modalData.mobileError}"
                           ng-blur="fn.mobileBlur()"
                           ng-focus="fn.inMobileFocus()"
                           maxlength="11"
                           ng-disabled="modalData.isReady">
                    <i class="fa fa-spinner fa-spin cam-b-ch-i cam-b-ch-i-m" ng-class="{'show':modalData.isCheckMobile}"></i>
                    <i class="fi ico-cam-error ico-cam-error-o cam-b-ch-res-i" ng-if="!modalData.isCheckMobile && modalData.mobileError"></i>
                    <i class="fi ico-cam-true ico-cam-true-o cam-b-ch-res-i" ng-if="!modalData.isCheckMobile && modalData.mobileTrue"></i>
                </div>
                <div class="cam-b-in-item-error-msg" ng-if="!modalData.isCheckMobile && modalData.mobileError" ng-bind="modalData.mobileErrorTip"></div>
            </div>
            <div class="cam-b-in-box">
                <div class="w100 cam-b-in-item-box">
                    <label class="cam-b-in-t">
                        <i class="cam-need-w">*</i>
                        密码:
                    </label>
                    <input type="password" class="form-control cam-b-in"
                           id="am_pwd"
                           placeholder="密码由6-16位字符组成，区分大小写"
                           ng-class="{'name-error':modalData.pwdError}"
                           ng-model="amData.pwd"
                           ng-blur="fn.pwdBlur()"
                           ng-focus="fn.inPwdFocus()"
                           maxlength="16">
                    <i class="fi cam-b-ch-res-i ico-cam-pwd-uv ico-cam-pwd-uv-o cur-pointer" ng-if="modalData.isNotVisible" ng-click="fn.changeVisible($event,false)"></i>
                    <i class="fi cam-b-ch-res-i ico-cam-pwd-v ico-cam-pwd-v-o cur-pointer" ng-if="!modalData.isNotVisible" ng-click="fn.changeVisible($event,true)"></i>
                </div>
                <div class="cam-b-in-item-error-msg" ng-if="modalData.pwdError" ng-bind="modalData.pwdErrorTip"></div>
            </div>
            <div class="cam-b-in-box">
                <div class="w100">
                    <label class="cam-b-in-t">邮箱:</label>
                    <input type="text" class="form-control cam-b-in" placeholder="请输入要创建用户的邮箱" ng-model="amData.email">
                </div>
            </div>
            <div class="cam-b-sm-box">
                <input type="checkbox" class="cam-b-sm-ch" id="sendMsg" ng-model="amData.isSendMsg">
                <label for="sendMsg" class="cur-pointer">发送短信告知用户</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="das-modal-btn-cancel" ng-click="$hide()">取消</button>
            <button class="das-modal-btn-ok" ng-click="fn.ok()">创建</button>
        </div>
    </div>
</div>