<div class="modal das-modal" role="dialog">
    <div class="modal-dialog modal-content das-modal-content">
        <div class="modal-header das-modal-header">
            <div class="das-modal-header-t">提示</div>
            <i class="fi ico-modal-close ico-modal-close-o das-modal-header-c" ng-click="$hide()"></i>
        </div>
        <div class="modal-body">
            <div class="das-modal-con-box">
                <div class="das-modal-con-i-box">
                    <i class="fi ico-modal-warn ico-modal-warn-o w100 h100"></i>
                </div>
                <div class="das-modal-con-t1" ng-bind="title"></div>
            </div>
            <div class="das-modal-con-box">
                <div class="das-modal-con-t2" ng-bind="msg"></div>
            </div>
        </div>
        <div class="modal-footer das-modal-footer">
            <button class="das-modal-btn-cancel" ng-click="$hide()">取消</button>
            <button class="das-modal-btn-ok" ng-click="ok()">确定</button>
        </div>
    </div>
</div>