<div class="modal am-exam" role="dialog">
    <iframe id="uploadIframe" style='width:0;height:0;position:absolute;border:0'></iframe>
    <div class="modal-content modal-dialog exam-mc">
        <div class="modal-header das-modal-header">
            <div class="das-modal-header-t">
                提示
            </div>
            <i class="fi ico-modal-close ico-modal-close-o das-modal-header-c" ng-click="$hide()"></i>
        </div>
        <div class="modal-body">
            <div class="exam-fp-box">
                <i class="fi ico-exam-file-p ico-exam-file-p-o w100 h100"></i>
            </div>
            <div class="exam-f-t">
                当前共有7665条数据信息，确定要导出吗？
            </div>
        </div>
        <div class="modal-footer">
            <button class="das-modal-btn-cancel" ng-click="$hide()">取消</button>
            <button class="das-modal-btn-ok" ng-click="ok()">确定</button>
        </div>
    </div>
</div>