<div class="w100 h100">
    <div class="header-title">
        <i class="header-konka-icon fi ico-konka ico-konka-o"></i>
        康佳帐号管理后台
    </div>
    <div class="header-user-box">
        <i class="fi ico-header-user header-user-i ico-header-user-o"></i>
        <div class="header-user-title f12">超级管理员001</div>
        <span class="header-user-t-s">|</span>
        <div class="header-user-r">退出</div>
    </div>
</div>