<div class="w100 h100">
    <div class="left-nav-i"
         ng-class="{'left-nav-i-c':$root.chooseValue == 'dm'}"
         ng-click="chooseNav($event,'dm')">
        <i class="fi left-nav-ico ico-dm ico-dm-o"></i>
        <div class="left-nav-title">数据统计</div>
    </div>
    <div class="left-nav-i"
         ng-class="{'left-nav-i-c':$root.chooseValue == 'am'}"
         ng-click="chooseNav($event,'am')">
        <i class="fi left-nav-ico ico-am ico-am-o"></i>
        <div class="left-nav-title">用户管理</div>
    </div>
    <div class="left-nav-i"
         ng-class="{'left-nav-i-c':$root.chooseValue == 'appm'}"
         ng-click="chooseNav($event,'appm')">
        <i class="fi left-nav-ico ico-appm ico-appm-o"></i>
        <div class="left-nav-title">应用管理</div>
    </div>
    <div class="left-nav-i"
         ng-class="{'left-nav-i-c':$root.chooseValue == 'rm'}"
         ng-click="chooseNav($event,'rm')">
        <i class="fi left-nav-ico ico-rm ico-rm-o"></i>
        <div class="left-nav-title">权限设置</div>
    </div>
    <div class="left-nav-i"
         ng-class="{'left-nav-i-c':$root.chooseValue == 'sm'}"
         ng-click="chooseNav($event,'sm')">
        <i class="fi left-nav-ico ico-sm ico-sm-o"></i>
        <div class="left-nav-title">系统设置</div>
    </div>
</div>