.am-header{
    width: 100%;
    height: 150px;
}

.am-header-t{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #4A90E2;
    padding-left: 15px;
}

.am-op-box{
    width: calc(100% - 30px);
    margin: 0 15px;
    height: 100px;
    background-color: #ffffff;
}

.am-op-box-q{
    width: 100%;
    height: 50px;
    padding: 10px 0;
}

.am-op-item-f{
    width: 23%;
    float: left;
    height: 100%;
}

.am-op-item-b{
    width: 30%;
    float: left;
    height: 100%;
}

.am-op-item-t{
    width: 70px;
    text-align: left;
    padding-left: 10px;
    height: 100%;
    float: left;
    display: inline-block;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
}

.am-op-item-t-d{
    margin-right: 10px;
}

.am-op-item-in{
    width: calc(100% - 90px);
    margin-left: 10px;
    float: left;
    height: 30px;
}

.am-op-item-selectize{
    width: calc(100% - 90px);
    float: left;
}

.am-r-op-date{
    width: calc(50% - 50px);
    float: left;
    height: 30px;
    padding-right: 30px;
}

.am-op-item-s{
    width: 10px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    margin: 0;
}

.am-r-op-date-icon{
    width: 20px;
    height: 30px;
    float: left;
    margin-left: -30px;
}

.am-btn-search{
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    padding: 0;
    font-size: 12px;
    background-color: #5182E4;
    margin-left: 10px;
    border: 0;
    border-radius: 5px;
}

.am-body{
    width: calc(100% - 40px);
    height: calc(100% - 230px);
    margin: 0 15px;
    background-color: #ffffff;
}

.am-b-op-box{
    width: 100%;
    height: 50px;
    padding: 5px;
}

.am-add-a{
    width: 100px;
    height: 35px;
    float: right;
    border: 1px solid #5182E4;
    border-radius: 3px;
    margin: 2px 10px 2px 0;
    cursor: pointer;
}

.am-export-a{
    width: 100px;
    height: 35px;
    float: right;
    border: 1px solid #5182E4;
    border-radius: 3px;
    margin: 2px 10px 2px 0;
    cursor: pointer;
}

.am-add-a:hover{
    background-color: #4A90E2;
    color: #ffffff;
}

.am-export-a:hover{
    background-color: #4A90E2;
    color: #ffffff;
}

.am-add-a-t{
    display: inline-block;
    width: calc(100% - 30px);
    float: left;
    height: 100%;
    line-height: 35px;
}

.am-export-a-t{
    display: inline-block;
    width: calc(100% - 30px);
    float: left;
    height: 100%;
    line-height: 35px;
}

.am-footer{
    width: 100%;
    height: 80px;
}

.am-copyright{
    width: 100%;
    text-align: center;
    border: 0;
    color: #666666;
    line-height: 25px;
}

.am-l-op{
    width: 250px;
    float: left;
    height: 100%;
    padding: 10px 15px;
    color: #4A90E2;
}

.am-l-op-i{
    width: 30px;
    height: 100%;
    float: left;
}

.am-r-op{
    width: calc(100% - 250px);
    height: 100%;
    float: right;
    padding: 12px;
}

.am-r-op-select-box{
    width: 60px;
    height: 100%;
    float: right;
    margin-right: 15px;
}

.am-r-op-date-box{
    width: 500px;
    float: right;
    height: 100%;
}

.am-r-op-date-t1{
    display: inline-block;
    width: 80px;
    height: 100%;
    line-height: 36px;
    float: left;
    text-align: center;
}

.am-r-op-date-t2 {
    width: 30px;
    height: 100%;
    float: left;
    line-height: 36px;
    text-align: center;
}

.am-r-op-search-box{
    width: 250px;
    float: right;
    height: 100%;
}

.am-r-op-search-icon{
    width: 20px;
    float: right;
    height: 34px;
    position: relative;
    top: -34px;
    right: 10px;
}

.am-r-op-search-input{
    padding-right: 30px;
}

.am-t-th{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.am-t-tb-ul{
    height: 40px;
    font-size: 12px;
    color: #666666;
    border-bottom: 1px solid #cccccc;
}

.am-t-w5{
    width: 5%;
}

.am-t-w10{
    width: 10%;
}

.am-t-w15{
    width: 15%;
}

.am-t-w20{
    width: 20%;
}

.am-t-w25{
    width: 25%;
}

.am-t-tb{
    width: 100%;
    background-color: #fff;
    height: calc(100% - 90px);
    overflow: auto;
}

.am-t-th .am-t-th-li{
    line-height: 40px;
}

.am-t-tb .am-t-tb-li{
    line-height: 40px;
}

.am-t-tb-op-t{
    width: 60px;
    display: inline-block;
    text-align: center;
    color: #5182E4;
    cursor: pointer;
}

.am-t-tb-user-icon{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.am-t-tb-user-close-box{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    top: -34px;
    position: relative;
    background: rgba(155,155,155,.7);
}

.am-t-tb-user-close-icon{
    width: 20px;
    position: relative;
    top: -5px;
}

.am-b-load-more-box{
    width: calc(100% - 10px);
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #D8D8D8;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.am-b-page{
    width: 100%;
    height: 55px;
    text-align: center;
    background-color: #ffffff;
}

.am-b-page .pagination {
    margin: 10px 0;
}

.appm-b-body{
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 160px);
    background-color: #ffffff;
}

.appm-b-footer{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;

}

.appm-b-b-header{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
}

.appm-b-b-body{
    width: 100%;
    height: calc(100% - 50px);
    padding: 0 10px;
}

.appm-b-b-b-header{
    width: 100%;
    height: 40px;
}

.appm-b-b-b-h-ul{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}

.appm-b-b-b-b-ul{
    width: 100%;
    height: 40px;
    font-size: 12px;
}

.appm-b-b-b-b-ul:nth-child(2n){
    background-color: #F8F8F8;
}


.appm-b-b-b-h-li{
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
}

.appm-b-b-b-b-li{
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
}

.appm-b-b-b-body{
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}