.amd-main {
    width: 100%;
    height: 100%;
}

.amd-header {
    width: 100%;
    height: 40px;
    padding-left: 20px;
}

.amd-h-t-box {
    width: 200px;
    height: 100%;
    float: left;
    line-height: 40px;
}

.amd-h-t-r {
    display: inline-block;
    width: 60px;
    text-align: center;
    color: #5182E4;
    cursor: pointer;
}

.amd-body {
    width: calc(100% - 30px);
    height: calc(100% - 90px);
    background-color: #ffffff;
    margin: 0 15px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
}

.amd-b-header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
}

.amd-b-tag-box {
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.amd-b-tag {
    display: inline-block;
    width: 80px;
    height: 100%;
}

.amd-b-tag.choose {
    border-bottom: 2px solid #5182E4;
    color: #5182E4;
}

.amd-b-body {
    width: 100%;
    height: calc(100% - 40px);
}

.amdDetail-main {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.amdDetail-base {
    width: 100%;
}

.amdDetail-base-header {
    width: 100%;
    height: 30px;
    border: 1px solid #e0e0e0;
    line-height: 30px;
    padding-left: 20px;
    color: #9B9B9B;
}

.amdDetail-base-body {
    width: 100%;
    padding: 15px;
}

.amdDetail-b-ap-box {
    width: 100%;
    padding: 15px;
}

.amdDetail-b-ap-t {
    width: 80px;
    height: 30px;
    float: left;
    line-height: 30px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

.amdDetail-b-ap-p-box {
    width: 150px;
    height: 100%;
    float: left;
    text-align: center;
}

.amdDetail-b-ap-p {
    width: 100px;
    height: 100px;
}

.amdDetail-b-ai {
    width: 100%;
    height: 50px;
}

.amdDetail-b-ai-item1 {
    width: 500px;
    height: 100%;
    float: left;
}

.amdDetail-b-ai-item2 {
    width: calc(100% - 500px);
    height: 100%;
    float: left;
}

.amdDetail-b-ai-label {
    width: 100px;
    text-align: right;
    padding-right: 20px;
    height: 50px;
    line-height: 50px;
    float: left;
}

.amdDetail-b-ai-c {
    width: calc(100% - 100px);
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
    float: left;
}

.amdDetail-edit-op-box {
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.amdDetail-edit-op-i {
    width: 14px;
    height: 100%;
    line-height: 50px;
    float: left;
}

.amdDetail-edit-op-t {
    display: inline-block;
    float: left;
    width: 30px;
    height: 50px;
    color: #5182E4;
}

.amdDetail-edit-op-l {
    color: #5182E4;
}

.amdDetail-edit-in {
    width: 180px;
    height: 30px;
    float: left;
    margin: 10px 10px 10px 0;
}

.amdDetail-edit-btn {
    width: 50px;
    height: 30px;
    color: #ffffff;
    background-color: #5182E4;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
}

.amdDetail-edit-btn-c {
    width: 50px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.amdDetail-edit-e-err {
    width: 200px;
    float: left;
    height: 20px;
    position: relative;
    top: -10px;
    left: 120px;
    color: #D0021B;
}

.amdDetail-edit-in.error {
    border-color: #D0021B;
}

.amdDetail-a-header {
    width: 100%;
    height: 30px;
    border: 1px solid #e0e0e0;
    line-height: 30px;
    padding-left: 20px;
    color: #9B9B9B;
}

.amdDetail-a-body {
    width: 100%;
    padding: 15px;
}

.amdDetail-a-op-box {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    float: left;
    cursor: pointer;
    margin-right: 20px;
}

.amdDetail-a-op-i {
    width: 20px;
    height: 100%;
    float: left;
}

.amdDetail-close-op {
    color: #EA8010;
}

.amdDetail-del-op {
    color: #E01F22;
}

.amdRoot-main {
    width: 100%;
    height: 100%;
}

.amdRoot-top {
    width: 100%;
    height: 50%;
    padding: 5px 25px;
}

.amdRoot-bottom {
    width: 100%;
    height: 50%;
    padding: 5px 25px;
}

.amdRoot-t-header {
    width: 100%;
    height: 40px;
}

.amdRoot-t-h-t1 {
    width: 50px;
    height: 100%;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    float: left;
    text-align: center;
}

.amdRoot-t-h-t2 {
    width: calc(100% - 50px);
    height: 100%;
    float: left;
    line-height: 43px;
    color: #9B9B9B;
}

.amdRoot-t-body {
    width: 100%;
    height: calc(100% - 40px);
}

.amdRoot-t-b-w5 {
    width: 5%;
}

.amdRoot-t-b-w10 {
    width: 10%;
}

.amdRoot-t-b-w15 {
    width: 15%;
}

.amdRoot-t-b-w20 {
    width: 20%;
}

.amdRoot-t-b-w25 {
    width: 25%;
}

.amdRoot-t-b-w30 {
    width: 30%;
}

.amdRoot-t-b-w35 {
    width: 35%;
}

.amdRoot-t-b-h-ul {
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
}

.amdRoot-t-b-h-li {
    height: 100%;
    line-height: 40px;
    text-align: center;
    float: left;
}

.amdRoot-t-b-b-li {
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    float: left;
}

.amdRoot-t-b-b-ul {
    width: 100%;
    height: 50px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.amdRoot-t-b-header {
    width: 100%;
    height: 50px;
}

.amdRoot-t-b-body {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}

.amdRoot-t-b-body .amdRoot-t-b-b-ul:first-child {
    border-top: 1px solid #cccccc;
}

.amdRoot-t-b-body .amdRoot-t-b-b-ul:nth-child(2n+1) {
    background-color: #F8F8F8;
}

.amdRoot-t-b-item1 {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-color: #cccccc;
    border-radius: 5px;
}

.amdRoot-t-b-item2 {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    border-radius: 5px;
}

.amdRoot-t-b-item2-img {
    width: 40px;
    position: relative;
    top: -6px;
}

.amdLog-main {
    width: 100%;
    height: 100%;
}

.amdLog-header {
    width: 100%;
    height: 50px;
    padding: 10px;
}

.amdLog-op-date-box {
    width: 30%;
    height: 100%;
    float: left;
}

.amdLog-op-date-l {
    width: 80px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    float: left;
}

.amdLog-op-op-box {
    width: 15%;
    height: 100%;
    float: left;
}

.amdLog-op-op-l {
    width: 80px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    float: left;
}

.amdLog-op-op {
    width: calc(100% - 80px);
    height: 100%;
    float: left;
}

.amdLog-op-area-box {
    width: 20%;
    height: 100%;
    float: left;
}

.amdLog-op-area {
    width: calc(100% - 80px);
    height: 100%;
    float: left;
}

.amdLog-op-in {
    height: 30px;
}

.amdLog-op-IPAdd-box {
    width: 15%;
    height: 100%;
    float: left;
}

.amdLog-op-IPAdd {
    width: calc(100% - 80px);
    height: 100%;
    float: left;
}

.amdLog-op-con-box {
    width: 20%;
    height: 100%;
    float: left;
}

.amdLog-op-con {
    width: calc(100% - 80px);
    height: 100%;
    float: left;
    padding-left: 20px;
}

.amdLog-op-con-btn-box{
    width: 80px;
    height: 100%;
    float: left;
}

.amdLog-op-con-btn{
    width: 60px;
    margin: 0px 10px;
    height: 30px;
    border: 0;
    background-color: #5182E4;
    color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
}

.amdLog-body{
    width: 100%;
    height: calc(100% - 100px);
    padding: 15px;
}

.amdLog-b-header{
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
}

.amdLog-b-h-ul{
    width: 100%;
    height: 100%;
}

.amdLog-b-h-li{
    height: 100%;
    line-height: 40px;
    text-align: center;
    float: left;
}

.amdLog-b-body{
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}

.amdLog-b-b-ul{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.amdLog-b-b-li{
    height: 100%;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 12px;
}

.amdLog-b-b-ul:nth-child(2n+1){
    background-color: #F8F8F8;
}

.amdLog-footer{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
}

.amdLog-footer-pageList{
    margin: 0 !important;
}


.amd-footer{
    width: 100%;
    height: 50px;
}

.amd-footer-pre{
    border: none;
    background-color: transparent;
    text-align: center;
    line-height: 50px;
}